<!doctype html>
<!--
Copyright © 2013 Baiki <dot_baiki@yahoo.com>
This work is free. You can redistribute it and/or modify it under the
terms of the Do What The Fuck You Want To Public License, Version 2,
as published by Sam Hocevar. See http://www.wtfpl.net/ for more details.
-->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><%= SOFTWARE_NAME %> | <%= @temp_celcius %>&#176;C</title>
	<meta name="description" content="A thermometer app for Raspberry Pi">
	<meta name="author" content="baiki">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="favicon.ico">
	<script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
	<div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title"><%= SOFTWARE_NAME + ' ' + SOFTWARE_VERSION %></h1>
			<nav>
				<ul>
					<li><a href="<%= link(:thermometer) %>">Home</a></li>
					<li><a href="<%= link(:chart) %>">Chart</a></li>
					<li><a href="<%= link(:logout) %>">Logout</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<div id="main-container">
<%= yield %>
	</div> <!-- #main-container -->
	<div id="footer-container">
		<footer class="wrapper">
			<h3>Copyright &copy; 2013 Baiki | Licensed by <a href="http://www.wtfpl.net/" target="_blank">
      <img src="wtfpl-badge-2.png" width="80" height="15" alt="WTFPL" />
    </a></h3>
		</footer>
	</div>
</body>
</html>
