		<div id="main" class="wrapper clearfix">
			<article>
				<header>
					<h1>Current Sensor Readouts</h1>
					<p>This temperature sensor is located in the oldest city in Switzerland, called Chur. Elevation is about 680 meters above sea level (MAMSL).</p>
					<table border="1">
            <tr>
              <td>&nbsp;Date (Gregorian, YYYY.MM.DD)&nbsp;</td>
              <td align="right">&nbsp;<%= @temp_date %>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;Time CEST (UTC+02:00)</td>
              <td align="right"><%= @temp_time %>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;Temperature (degree Celcius)</td>
              <td align="right"><b><%= @temp_celcius %>&#176;C</b>&nbsp;</td>
            </tr>
              <td>&nbsp;CPU temperature (degree Celcius)&nbsp;</td>
              <td align="right"><b><%= @cpu_temp %>&#176;C</b>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;Total readings</td>
              <td align="right"><%= @total_readings %>&nbsp;</td>
            </tr>
          </table>
          <p>The software will update this web page approximately every 2-5 minutes (sometimes faster). If you want to see older readings, then you can click on <a href="<%= link(:chart) %>">chart</a>.</p>
				</header>
				<!--
				<section>
					<h2>title</h2>
					<p>Lorem ipsum</p>
				</section>
				<footer>
					<h3>title</h3>
					<p>Lorem ipsum</p>
				</footer>
				-->
			</article>
			<aside>
				<h3>About This Project</h3>
				<p>For this little fun project, I used a Raspberry Pi model B with 256 MB RAM, USB WLAN adapter, Raspbian Linux, Sinatra (based on Ruby) web framework and Python to get readings from the temperature sensor (DS18B20). Got questions, drop me a line at dot_baiki@yahoo.com</p>
			</aside>
		</div> <!-- #main -->
